.paper: {
    marginTop: theme.spacing(8);
    display: 'flex';
    flexDirection: 'column';
    alignItems: 'center';
    padding: theme.spacing(2);
  },

.form: {
    width: '100%';
    marginTop: theme.spacing(3);
},

.sign-button: {
    marginTop: theme.spacing(3);
    margin: theme.spacing(3, 0, 2);
}

